<h2>Entries Index</h2>
<p>
  <form data-ng-submit="indexViewModel.create()">
    <input placeholder="Author" data-ng-model="indexViewModel.newPhoto.author" />
    <input placeholder="Body" data-ng-model="indexViewModel.newPhoto.body" />
    <input placeholder="Photo Url" data-ng-model="indexViewModel.newPhoto.photo_url" />
    <button type="submit">Create</button>
  </form>
</p>

<div data-ng-repeat="photo in indexViewModel.photos">
  <a data-ui-sref="photoShow({id: $index})">
    <img data-ng-src="{{photo.photo_url}}">
    <p>{{photo.author}}</p>
    <p>{{photo.body}}</p>
  </a>
</div>
