<h2>Entry Show</h2>
<img data-ng-src="{{showViewModel.entry.photo_url}}">
<p>{{showViewModel.entry.author}}</p>
<p>{{showViewModel.entry.body}}</p>

<form>
  <input placeholder="Author" data-ng-model="showViewModel.entry.author" />
  <input placeholder="Body" data-ng-model="showViewModel.entry.body" />
  <input placeholder="Photo Url" data-ng-model="showViewModel.entry.photo_url" />
  <button data-ng-click="showViewModel.update()">Update</button>
  <button data-ng-click="showViewModel.delete()">Delete</button>
</form>
